# aliases
alias lsa='ls -ah --color=auto'
alias ls='ls -h --color=auto'
alias grep='grep --color=auto'
alias diff='diff --color=auto'
alias rm='trash'
alias df='df -h'
alias du='du -h'
alias du1='du -h -d 1'

# formatted output
alias lsblk='lsblk -o name,mountpoint,size,FSUSE%,label,uuid'

# CoW is good
alias cp='cp --reflink=auto --verbose'

# gentoo/portage
alias gen2-sync="doas /bin/bash -c 'emerge-webrsync && doas emaint sync -A'"
alias gen2-update="doas emerge --ask --update --changed-use --deep --with-bdeps=y --keep-going --quiet-build y --getbinpkg --binpkg-respect-use=y @world"

# custom shortcuts
{{- if eq .window_manager "sway" }}

alias startw="dbus-run-session sway --unsupported-gpu > .swaylog;sleep 1;clear;echo 'sway log updated at .swaylog'"
{{- end }}

{{- if eq .chezmoi.hostname "thonkpad" }}
# thonkpad monitor powersave
alias slowrefresh="wlr-randr --output eDP-1 --custom-mode 1920x1080@60Hz"
alias fastrefresh="wlr-randr --output eDP-1 --custom-mode 1920x1080@144Hz"
{{- end }}

alias calc='bc -il ~/.bcrc'

