# default applications
export EDITOR='emacs -nw'
export VISUAL='emacs -nw'

# wayland setings
export GDK_BACKEND='wayland,x11'
export QT_QPA_PLATFORM='wayland;xcb'
export SDL_VIDEODRIVER='wayland'
export CLUTTER_BACKEND='wayland'
export MOZ_ENABLE_WAYLAND=1
export XDG_CURRENT_DESKTOP='sway'
export XDG_SESSION_TYPE='wayland'
export XDG_SESSION_DESKTOP='sway'
export WLR_NO_HARDWARE_CURSORS=1
if [[ -z "$XDG_RUNTIME_DIR" ]]; then
    export XDG_RUNTIME_DIR=$(mktemp -d /tmp/$(id -u)-runtime-dir.XXX)
fi

# theme settings
export QT_QPA_PLATFORMTHEME="qt6ct"

# sway compatibility with some apps
export AWT_TOOLKIT='MToolkit'
export _JAVA_AWT_WM_NONREPARENTING=1

# paths
export PATH="$PATH:$HOME/.local/bin:$HOME/.cargo/bin:$HOME/.dotnet/tools"

{{- if eq .chezmoi.hostname "thonkpad" }}
# thonkpad run sway on igpu
export WLR_DRM_DEVICES="/dev/dri/by-name/igpu"
{{- end }}
