# mako notifier config
border-size=1
border-color={{- .colours.border }}
background-color={{- .colours.bg }}
text-color={{- .colours.text }}
icons=1
icon-location=right
#default-timeout=30000
max-visible=2
layer=top
anchor=top-right
history=0
sort=-time
font=monospace
