default partial alphanumeric_keys modifier_keys xkb_symbols "basic" {
        {{- if eq .keyboard_layout "colemak_dh" }}
	include "qwerty-mod(colemak_dh)"
        {{- else if eq .keyboard_layout "workman" }}
        include "qwerty-mod(workman)"
        {{- else }}
        include "qwerty-mod(basic)"
        {{- end }}

        name[Group1] = "special keys swapped";

        // Swap back with pgup (commented because it does not work
        //replace key <I166> {[ Prior ]};
        //replace key <PGUP> {[ XF86Back ]};

        // swap forward with pagedown (commented bbecause it does not work)
        //replace key <I167> {[ Super_L ]};
        //replace key <PGDN> {[ XF86Forward ]};
};
