default partial alphanumeric_keys
xkb_symbols "workman-p" {
        {{- if eq .keyboard_layout "workman-p" }}
        include "workman-p"
        {{- else }}
        include "us(basic)"
        {{- end }}
        
        name[Group1] = "us qwerty with some keys swapped";

        // unbind lgui, bind caps to lgui, and fn+f12 to caps
        replace key <CAPS> {[ Super_L ]};
        replace key <LWIN> {[ Print ]};
        replace key <PRSC> {[ Caps_Lock ]};
};
