# Fonts
font = {{- .font.family }}
font-size = {{- .font.size }}
hint-font = true

# Theme
text-color = {{- .colours.text }}
background-color = {{- .colours.bg }}

prompt-background-padding = 0
prompt-background-corner-radius = 0

input-background-padding = 0
input-background-corner-radius = 0

default-result-background-padding = 0
default-result-background-corner-radius = 0

selection-color = {{- .colours.text_focused }}
selection-background = {{ .colours.fg }}
selection-background-padding = 4
selection-background-corner-radius = 0

selection-match-color = {{- .colours.highlight }}

text-cursor-style = bar

# Text layout
prompt-text = "run: "
prompt-padding = 0
num-results = 20
result-spacing = 12
horizontal = true
min-input-width = 120

# Window theming
width = 100%
height = {{- .bar_height }}
outline-width = 0
outline-color = #00000000
border-width = 0
border-color = #00000000
corner-radius = 0
padding-top = 0
padding-bottom = 0
padding-left = 0
padding-right = 0

clip-to-padding = false
scale = false

# Window positioning
output = ""
anchor = top
exclusive-zone = -1

margin-top = 0
margin-bottom = 0
margin-left = 0
margin-right = 0

# Behaviour
hide-cursor = false
text-cursor = false
history = true
require-match = true
auto-accept-single = false
hide-input = false
drun-launch = false
late-keyboard-init = false
multi-instance = false
ascii-input = false
