bar {
  position top
  height "{{- .bar_height }}"
  gaps 0
  font monospace
  mode dock
  colors {
    background "{{- .colours.bg }}"
    statusline "{{- .colours.text }}"
    separator  "{{- .colours.border }}"
    focused_workspace "{{- .colours.border }}" "{{- .colours.fg }}" "{{- .colours.text_focused }}"
    inactive_workspace "{{- .colours.border }}" "{{- .colours.bg }}" "{{- .colours.text_unfocused }}"
  }
  status_command ~/.config/sway/scripts/sway-bar-status
}
