# input device configuration

# trackpoints
input type:pointer {
  accel_profile  "flat"
{{- if eq .chezmoi.hostname "linsuslap" }}
  pointer_accel  "0.25"
{{- else }}
  pointer_accel "0"
{{- end }}
  dwt            "disabled"
  natural_scroll "disabled"
}

# touchpads
input type:touchpad {
  accel_profile  "flat"
  pointer_accel  "0"
  drag           "enabled"
  drag_lock      "disabled"
  dwt            "enabled"
  natural_scroll "enabled"
  tap            "enabled"
}

# keyboad layouts

{{- if eq .chezmoi.hostname "crapbookair" }}
## integrated macbook keyboard
input 1452:641:Apple_SPI_Keyboard {
{{- else }}
## integrated thinkpad keyboard
input 1:1:AT_Translated_Set_2_keyboard {
{{- end }}
  {{- if eq .keyboard_layout "colemak_dh" }}
  xkb_layout "qwerty-mod(colemak_dh)"
  {{- else if eq .keyboard_layout "workman" }}
  xkb_layout "qwerty-mod(workman)"
  {{- else }}
  xkb_layout "qwerty-mod(basic)"
  {{- end }}
}
