# keybinds file

# variables
set $mod Mod4
set $mod_alt Mod4+Shift
set $mod_alt_alt Mod4+Control
set $left h
set $down j
set $up k
set $right l
set $resize_rate 20px

# applications
set $terminal      alacritty
set $menu_binary   tofi-run  | xargs swaymsg exec --
set $menu_desktop  tofi-drun | xargs swaymsg exec --
set $browser       firefox-esr
set $messenger     element-desktop
set $editor        emacs
set $file_manager  thunar
set $game_launcher steam
set $music_gui     alacritty -e ~/.config/ncmpcpp/ncmpcpp.sh

# launch apps
bindsym $mod+p           exec $menu_binary
bindsym $mod_alt+p       exec $menu_desktop
bindsym $mod_alt+Return  exec $terminal
bindsym $mod_alt+f       exec $browser
bindsym $mod_alt+r       exec $game_launcher
bindsym $mod_alt+d       exec $messenger
bindsym $mod_alt+e       exec $editor
bindsym $mod_alt+g       exec $file_manager
bindsym $mod_alt+m       exec $music_gui

# lock and sleep
bindsym $mod+Delete      exec ~/.config/sway/scripts/lock.sh
bindsym $mod_alt+Delete  exec ~/.config/sway/scripts/lock.sh & loginctl suspend

{{- if eq .chassis "laptop" }}
# brightness
set $brightnessup   light -T 1.15 && light -A 3%
set $brightnessdown light -T 0.85 && light -U 3%
bindsym XF86MonBrightnessUp   exec $brightnessup
bindsym XF86MonBrightnessDown exec $brightnessdown
{{- end }}

# volume
set $volup   pactl set-sink-volume @DEFAULT_SINK@ +5%
set $voldown pactl set-sink-volume @DEFAULT_SINK@ -5%
set $volmute pactl set-sink-mute   @DEFAULT_SINK@ toggle
bindsym XF86AudioRaiseVolume exec $volup
bindsym XF86AudioLowerVolume exec $voldown
bindsym XF86AudioMute        exec $volmute


# manage windows
bindsym $mod+q kill
bindsym $mod+f floating on
bindsym $mod+t floating off
bindsym $mod+m fullscreen

bindsym $mod_alt+$left  move left
bindsym $mod_alt+$down  move down
bindsym $mod_alt+$up    move up
bindsym $mod_alt+$right move right
bindsym $mod_alt+Left   move left
bindsym $mod_alt+Down   move down
bindsym $mod_alt+Up     move up
bindsym $mod_alt+Right  move right

bindsym $mod+b splith
bindsym $mod+v splitv

# focus
bindsym $mod+$left  focus left
bindsym $mod+$down  focus down
bindsym $mod+$up    focus up
bindsym $mod+$right focus right
bindsym $mod+Left   focus left
bindsym $mod+Down   focus down
bindsym $mod+Up     focus up
bindsym $mod+Right  focus right

# workspaces
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 scratchpad show
bindsym $mod_alt+1 move container to workspace number 1
bindsym $mod_alt+2 move container to workspace number 2
bindsym $mod_alt+3 move container to workspace number 3
bindsym $mod_alt+4 move container to workspace number 4
bindsym $mod_alt+5 move container to workspace number 5
bindsym $mod_alt+6 move container to workspace number 6
bindsym $mod_alt+7 move container to workspace number 7
bindsym $mod_alt+8 move container to workspace number 8
bindsym $mod_alt+9 move container to workspace number 9
bindsym $mod_alt+0 move scratchpad

# other
bindsym $mod_alt+c     exec swaymsg exit
bindsym $mod_alt+space focus mode_toggle

mode "resize" {
    # left will shrink the containers width
    # right will grow the containers width
    # up will shrink the containers height
    # down will grow the containers height
    bindsym $left resize shrink width $resize_rate
    bindsym $down resize grow height $resize_rate
    bindsym $up resize shrink height $resize_rate
    bindsym $right resize grow width $resize_rate

    # Ditto, with arrow keys
    bindsym Left resize shrink width $resize_rate
    bindsym Down resize grow height $resize_rate
    bindsym Up resize shrink height $resize_rate
    bindsym Right resize grow width $resize_rate

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym Space mode  "default"
}
bindsym $mod+r mode "resize"

# drag windows around
tiling_drag enable
floating_modifier $mod normal

# focus makes sense
focus_follows_mouse always
mouse_warping container
