# style configuration for sway

# colour and font
#font "{{- .font.family }}" "{{- .font.size }}"
client.focused  "{{- .colours.fg }}" "{{- .colours.fg }}" "{{- .colours.text_focused }}" "{{- .colours.fg }}" "{{- .colours.fg }}"
#client.focused_inactive  "{{- .colours.fg }}" "{{- .colours.fg }}" "{{- .colours.text_focused }}" "{{- .colours.fg }}" "{{- .colours.fg }}"
#client.focused_tab_title  "{{- .colours.fg }}" "{{- .colours.fg }}" "{{- .colours.text_focused }}" "{{- .colours.fg }}" "{{- .colours.fg }}"
client.unfocused  "{{- .colours.border }}" "{{- .colours.border }}" "{{- .colours.text_unfocused }}" "{{- .colours.border }}" "{{- .colours.border }}"
client.urgent  "{{- .colours.highlight }}" "{{- .colours.highlight }}" "{{- .colours.text_focused }}" "{{- .colours.highlight }}" "{{- .colours.highlight }}"

# hide titlebar
font pango:monospace 0.001
titlebar_padding 1
titlebar_border_thickness 0

# border style
default_border pixel 1
default_floating_border pixel 1

# background
{{- if .animated_background.enabled }}
# folder "{{- .animated_background.folder }}"
exec ~/.config/sway/scripts/animated-bg.sh
{{- else }}
output "*" bg {{ .static_background }} fill
{{- end }}