{
  "drive_rename": {
    "EFI\\x20-\\x20GENTO": "EFI"
  },
  "drive_blacklist": [
    "SWAP",
    "windisk0",
    "windisk1",
    "windisk2"
  ],
  {{- if eq .chezmoi.hostname "crapbookair" }}
  "battery": "/sys/class/power_supply/macsmc-battery/"
  {{- end }}
}
